/* Start Variables */
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --main-transition: 0.5s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px)
{
    .container {
        width: 750px;
    }
}
/* Meduim */
@media (min-width: 992px)
{
    .container {
        width: 970px
    }
}
/* Large */
@media (min-width: 1200px)
{
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Landing */
.landing {
    min-height: 100vh;
    position: relative;
    background-color: #0e0e0e;
    overflow: hidden;
}
.landing .image {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 55%;
    height: 100%;
}
.landing .image img {
    height: 100%;
    filter: grayscale(100%);
}
.landing .content {
    padding-left: 35px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
    padding-bottom: 45px;
}
@media(min-width:1400px) {
    .landing {
        display: flex;
        align-items: center;
    }
    .landing .content {
        height: 50%;
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 70px;
    }
    .landing .content .text h1 {
        margin-bottom: 50px;
        font-size: 100px;
        width: 900px;
    }
    .landing .content .text p{
       width: 800px;
       font-size: 25px;
    }
}
@media (max-width:767px) {
    .landing .image {
        right: -500px;
        transform: scaleX(-1);
    }
    .landing::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 75%);
        z-index: 1;
    }
    .landing .content {
        z-index: 2;
        padding-right: 35px;
    }
    .landing .content .text h1 {
        font-size: 50px;
        margin-bottom: 35px;
        max-width: 100%;
    }
    .landing .content .text p,
    .landing .content .about p {
        max-width: 100%;
    }
}
.landing .content  p {
    width: 400px;
    line-height: 1.6;
}
.landing .text h1 {
    font-size: 80px;
    margin-bottom: 25px;
    width: 500px;
}
.landing .text p {
    font-size: 20px;
    line-height: 1.6;
}
.landing .about h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 35px 0 15px;
}
.landing .about p {
    font-size: 18px;
    margin-bottom: 25px;
}
.landing .about a {
    width: fit-content;
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
}
.landing .about a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition: var(--main-transition);
}
.landing .about a:hover::before {
    left: 100%;
}
.landing .about:nth-of-type(3) p,
.landing .about:nth-of-type(4) p {
    margin-bottom: 5px;
}
/* End Landing */
